a, a:visited, a:active {
  color: #444;
}


#head1{
position: absolute;
top: 105px;
left: 5px;
text-transform: uppercase;
color: black;
font-size: 15pt;
font-family: "Tahoma",Serif;
font-weight: 400;
text-align: center;
padding : 5px;
line-height: 1;
text-decoration: underline;
color: rgb(0,68,124);
}

#head2{
position: absolute;
top: 105px;
left: 300px;
color: black;
font-size: 15pt;
font-family: "Tahoma",Serif;
font-weight: 400;
text-align: center;
padding : 5px;
line-height: 1;
color: rgb(0,68,124);
}

#head2{
position: absolute;
top: 105px;
left: 300px;
color: black;
font-size: 15pt;
font-family: "Tahoma",Serif;
font-weight: 400;
text-align: center;
padding : 5px;
line-height: 1;
color: rgb(0,68,124);
}


#head3{
position: absolute;
top: 105px;
left: 1050px;
color: black;
font-size: 15pt;
font-family: "Tahoma",Serif;
font-weight: 400;
text-align: center;
padding : 5px;
line-height: 1;
color: rgb(0,68,124);
}




#submit {
	-moz-box-shadow: 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: 0px 1px 0px 0px #ffffff;
	box-shadow: 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
cursor: pointer; 
cursor: hand;
position : absolute;
top : 350px;
left: 750px;

}



#reset {

	-moz-box-shadow: 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: 0px 1px 0px 0px #ffffff;
	box-shadow: 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
cursor: pointer; 
cursor: hand;
position : absolute;
top : 350px;
left: 880px;
}


#dropbox_w {
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
position : absolute;
top : 140px;
left: 200px;
width:600px;
height:150px;
padding:10px;
border-style:groove;
border-width: 5px;
border-color:rgb(68,68,68)
}

#dropbox_wo {
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
position : absolute;
top : 140px;
left: 900px;
width:600px;
height:150px;
padding:10px;
border-style:groove;
border-width: 5px;
border-color:rgb(68,68,68)
}


#dragbox {
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
position : absolute;
top : 140px;
left :10px;	
width:100px;
height:700px;
padding:10px;
border-style:groove;
border-width: 5px;
border-color:rgb(68,68,68)
}

#string_analysis_container { background-color: white;}
#nav { 
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
	background: #EEEEEE; position:absolute; left: 5px; top: 2px; border-style: solid; width: 99%; height: 50px; box-sizing: initial; line-height: 0;}

#basecust{
position: absolute;
top: 60px;
right: 5px;
text-transform: uppercase;
color: black;
font-size: 8pt;
font-family: "Tahoma",Serif;
font-weight: 400;
text-align: center;
padding : 5px;
line-height: 1;
}

#basecustnot {
position: absolute;
top: 70px;
right: 5px;
  text-transform: uppercase;
  color: black;
  font-size: 7pt;
  font-family: "Tahoma",Serif;
  font-weight: 400;
  text-align: center;
  padding : 5px;
  line-height: 1;
}

#headname {

  text-transform: uppercase;
  color: rgb(0,68,124);
  font-size: 30pt;
  font-family: "Tahoma",Serif;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  padding : 5px;
  line-height: 1;
}

#delllogo {
position: absolute;
top: 0px;
height: 50px;
width: 50px;
}


#mulogo {

position: absolute;
float: right;
height: 100%;
top: 0px;
right: 0px;
}

img.placeborder {
    border-radius: 0 10px 10px 0;
}


 

#b2{
position:absolute;
top: 500px;             
left: 5px;
border-style: dotted;
padding: 3px;
} 


#container1{
position:absolute;
top: 55px;             
left: 180px;
width: 1500;
}

#vis {
position : absolute;
top : 350px;
  width: 50%%;
  height: 50%;
  clear: both;
  margin-bottom: 10px;
}


footer {
  text-align: center;
}

#view_selection {
color:#ffffff;
  margin-top: 10px;
  
}

.seg {
  font-size: 21px;
  fill: #aaa;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px dotted #000;
	/* background: #222222; */
  background: white;
	opacity: .9;
	/* color: #eeeeee; */
  color: black;
	padding: 10px;
	width: 300px;
	font-size: 12px;
	z-index: 999;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}

#vis-full-key {
  position: absolute;
  top: 2000px;

  opacity: 0;
  width: 950px;
  z-index: 99;
}
#vis-full-key > .row:first-child {
  border-top: 1px solid grey;
}

#vis-full-key #vis-key-bottom > .columns {
  border-top: 1px solid grey;
}
#vis-full-key .explanation { margin-top: 20px; }
#vis-full-key .columns { padding: 0px; }
/* Size Legend */
#vis-full-key circle {
  fill: none;
  stroke: black;
  stroke-width: 1px;
  stroke-dasharray: 3px;
}
#vis-full-key polyline {
  stroke: black;
  stroke-width: 1px;
  fill: none;
}
#vis-full-key text {
  dominant-baseline: middle;
}
/* Color Legend */
.legend table {
  table-layout: fixed;
  width: 100%;
  background: none;
  margin: 0;
}
.legend tr {
  margin-top: 5px;
  background: none !important;
}
.legend td:first-child {
  vertical-align: top;
  width: 15px;
}
.legend td:nth-child(2) {
  padding-left: 10px;
}
.legend.explanation td { padding: 5px 0px; }
.legend .subheader {
  text-transform: uppercase;
  /* override foundation subheader color */
  color: #454542;
  margin: 0;
}
.legend.explanation .subheader { font-weight: 700; font-size: 12px; }
.legend.mini .subheader { font-weight: 400; font-size: 10px; }
.legend.explanation .subcategories {
  font-size: 13px;
  line-height: 130%;
}
.legend .key { width: 15px; height: 15px; }

/* Viz Colors */
svg circle.overhead         { fill: #689890; }
.legend .key.overhead       { background-color: #689890; }
svg circle.contributions    { fill: #3b6e71; }
.legend .key.contributions  { background-color: #3b6e71; }
svg circle.communication    { fill: #766f52; }
.legend .key.communication  { background-color: #766f52; }
svg circle.staff            { fill: #73884f; }
.legend .key.staff          { background-color: #73884f; }
svg circle.fees             { fill: #9ab996; }
.legend .key.fees           { background-color: #9ab996; }
svg circle.other            { fill: #6c6b6b; }
.legend .key.other          { background-color: #6c6b6b; }

.titles.year.header { font-size: 13px; }
.titles.header { text-transform: uppercase; font-weight: 600; letter-spacing: 1px; font-size: 14px; }
.titles.amount { font-style:italic; font-weight: 300; }
#expenditure_tooltip {
  padding: 8px;
  color: black;
  background: #ccc;
  background-color: rgba(255,255,255,0.5);
}
#expenditure_tooltip .candidate { font-size: 14px; letter-spacing: 0.5px; font-weight: 700; text-transform: uppercase; }
#expenditure_tooltip .office { font-weight: 400; text-transform: uppercase; letter-spacing: 0.7px; font-size: 13px; }
#expenditure_tooltip .amount { font-style:italic; font-weight: 400; }
#expenditure_tooltip .inner_tooltip {
  background-color: rgba(255,255,255,0.7);
  line-height: 1.5;
  padding: 15px;
}
