*			{
				margin: 0px; 
				padding: 0px;
				font-family: 'NIKE Title', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial;
				color: #000000;
				
			}

h2,li			{	
				font: 20px 'NIKE Title', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial;
			}
			
h1, h2, h3	{
	color:#000000;
}
header, footer, aside, section, nav, article, hgroup {display:block;}

body		{	
				text-align:center;
			
				/*background-color: rgba(222, 231, 211, 1); #f7f7f7*/
			}
		
#maindiv	{	
				/*border:2px solid black;*/
				/*width: 1300px;*/
				width:100%
			
				/*background-color:#303030;*/
			}



			
#navbar		{	
				position:absolute;
				width:100%;
				font-size:8px;
				font-family:'NIKE Title', arial, helvetica;
				text-decoration:none; 
				display:inline-block;
				font-weight:bold;
				color: #ffffff;
				background-color: #66CCFF; 
				top:20px;
				
		left:30px;
			}
			/*#navbar ul{
			background-color:#C6C6C6;
			}*/

#navbar ul {
  text-align: left;
  width:100%;
  display: inline;
  margin: 0;

  list-style: none;

 background-color: #66CCFF;
 
}
#navbar ul li {
  font: bold 12px/18px 'NIKE Title';
  display: inline-block;
 
  margin-right: -4px;
  position: relative;
  padding: 2px 20px 2px;
   background-color: #66CCFF;
  cursor: pointer;
  width:70px;

  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

#buttonbar		{	
				position:absolute;
				width:100%;
				font-size:8px;
				font-family:'NIKE Title', arial, helvetica;
				text-decoration:none; 
				display:inline-block;
				font-weight:bold;
				color: #ffffff;
				background-color: #66CCFF; 
				top:50px;
		
		left:30px;
			}
			/*#navbar ul{
			background-color:#C6C6C6;
			}*/

#buttonbar ul {
  text-align: left;
  width:100%;
  display: inline;
  margin: 0;

  list-style: none;
background-color: #66CCFF;

 
}
#buttonbar ul li {
  font: bold 12px/18px 'NIKE Title';
  display: inline-block;
 width:100px;
  margin-right: -4px;
  position: relative;
  padding: 2px 20px 2px;
 background-color: #66CCFF;
  cursor: pointer;
  

  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
			
			.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}
li	{
	height:100%
}

line.tick { stroke: #cccccc; fill:none; shape-rendering: crispEdges;}


			
#b1 {
position:absolute;
top:100px;
left:0px;
background-color:#DCDCDC;
width:200px;
height:100%;
}
			
#b1a {
position:absolute;
top:50px;
left:0px;
background-color:#DCDCDC;
width:200px;
}
			
#b1b {
position:absolute;
top:0px;
left:0px;
background-color:#DCDCDC;
width:200px;
}
			#b2 {
position:absolute;
top:100px;
left:500px;
 display: inline-block;

height:40px;
}	
#b2 ul {
  text-align: left;
  width:100%;
  display: inline-block;
  margin: 0;

  list-style: none;


box-shadow: 0px 5px 2px #aaaaaa;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
 
}
#b2 ul li {
 font: bold 12px/18px 'NIKE Title';
 
 
  margin-right: -4px;
  position: relative;
  padding: 2px;
  background: #ffffff;
  cursor: pointer;
   display: inline-block;

  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#b3 {
font: bold 16px 'NIKE Title';
position:absolute;
top:175px;
left:500px;
width:400px;

height:40px;
}	
#b3 ul {
  font: bold 16px 'NIKE Title';
  text-align: left;
  width:100%;
 display: inline-block;
  margin: 0;

  list-style: none;
 
}
#b3 ul li {
  font: bold 12px/18px 'NIKE Title';
  display: inline-block;
 

  position: relative;
padding: 2px 20px 2px;

  cursor: pointer;
 
}
#b6 {
position:absolute;
top:100px;
left:900px;


Width:300px;
}	
#b7a
{
position:relative;
top:10px;
left:10px;
width:70%;
height:100px;
}
#b7b
{
position:relative;
top:10px;
left:400px;
width:30%;
height:100px;
}
	
	#b8a
{
position:relative;
top:120px;
left:10px;
width:70%;
height:100px;
}
#b8b
{
position:relative;
top:120px;
left:400px;
width:30%;
height:100px;
}
#b9a
{
position:relative;
top:240px;
left:10px;
width:70%;
height:100px;
}
#b9b
{
position:relative;
top:10px;
left:400px;
width:30%;
height:100px;
}
table 	{
				border: 1px solid #aaaaaa;
				width: 240px;
				margin: 2px;
				margin-left: 6px;
				margin-right: 6px;
				margin-top: 2px;
				font: 12px bold 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, 'NIKE Title';			
			}
tr, td		{
				
				border: 1px solid white;
				width: 70px;
				/*background-color:#101010*/;
				font: 12px 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, 'NIKE Title';			
			}
td		{
				
				height: 20px;
			}
			
th			{			
				padding: 5px;
				/*border: 1px solid black;*/
			}
#b6
{position:absolute;
left:1000px;
}
#b6 ul {
  text-align: left;
  width:100%;
  display: inline;
  margin: 0;

  list-style: none;

box-shadow: 0px 5px 2px #aaaaaa;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
 
}
#b6 ul li {
  font: bold 12px/18px 'NIKE Title';
 
 
  margin-right: -4px;
  position: relative;
   padding: 2px 20px 2px;
  background: #ffffff;
  cursor: pointer;
  

  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
	#b4a{
	position:absolute;
top:50px;
left:0px;
background-color:#DCDCDC;
height:40px;
}	
#b4a ul {
  text-align: left;
  width:100%;
  display: inline;
  margin: 0;

  list-style: none;

box-shadow: 0px 5px 2px #aaaaaa;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
 
}
#b4a ul li {
  font: bold 12px/18px 'NIKE Title';
 
 
  margin-right: -4px;
  position: relative;
  padding: 2px 20px 2px;
  background: #ffffff;
  cursor: pointer;
  

  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}



#b4{
position:absolute;
top:330px;
left: 500px;
}

	#b4b {
position:absolute;
top:50px;
left:200px;
background-color:#DCDCDC;

height:55px;
}	
#b4b ul {
  text-align: left;
  width:100%;
  display: inline;
  margin: 0;

  list-style: none;

box-shadow: 0px 5px 2px #aaaaaa;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
 
}
#b4b ul li {
  font: bold 12px/18px 'NIKE Title';
 

  margin-right: -4px;
  position: relative;
  padding: 2px 20px 2px;
  background: #ffffff;
  cursor: pointer;
  

  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#mainsection{	
				/*float:right;*/
				width:90%;
			
			
				
				/*border:1px solid black;*/
			}



.hidden {
        display: none;
      }


